<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/start_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Сохраним природу!</title>
</head>
<body>
<header>
    <h1>Глобальное потепление</h1>
    <p>Борьба с изменением климата — гонка, из которой мы все еще можем выйти победителями</p>
</header>
<main>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a href="#block1">Повестка дня</a></li>
            <li><a href="#block2">Причины</a></li>
            <li><a href="#block3">Пути решения</a></li>
            <li><a href="#block4">Проверить предприятие</a></li>
        </ul>
    </nav>
    <div id="block1" class="theme">
        <p><b>Глобальное потепление</b> - это естественный процесс повышения общей температуры на Земле. Но за последние полтора века его темпы значительно выросли из-за технического прогресса и повсеместного сжигания ископаемого топлива, постоянно растет концентрация парниковых газов. Ни один уголок земного шара не застрахован от разрушительных последствий изменения климата. Повышение температуры является непосредственной причиной деградации окружающей среды, стихийных бедствий, экстремальных погодных явлений, отсутствия продовольственной безопасности и безопасности водных ресурсов, экономических потрясений, конфликтов и терроризма. Повышается уровень моря, тают арктические ледники, гибнут коралловые рифы, происходит закисление океана и бушуют лесные пожары. Очевидно, нужен кардинально новый подход. Поскольку последствия ущерба, наносимого в результате изменения климата, становятся практически необратимыми, настало время для решительных коллективных действий.</p>
    </div>
    <div id="block2" class="reasons">
        <p><b>Причины:</b></p>
        <ul>
        <details>
            <summary>
                Производство электроэнергии
            </summary>
                Значительная доля глобальных выбросов связана с производством электроэнергии и тепла путем сжигания ископаемых видов топлива. Бóльшая часть электроэнергии по-прежнему производится посредством сжигания угля, нефти или газа, в результате чего образуются углекислый газ и закись азота – мощные парниковые газы, которые покрывают Землю и задерживают солнечное тепло.
        </details>
        <details>
            <summary>
                Изготовление товаров
            </summary>
                Предприятия обрабатывающей и других отраслей промышленности производят выбросы, в большинстве случаев являющиеся результатом сжигания ископаемых видов топлива в целях выработки энергии, необходимой для получения цемента, железа, стали, электронных устройств, пластмасс, одежды и других товаров. При добыче полезных ископаемых и других промышленных процессах, равно как и при строительстве, также выделяются газы. Машины, используемые в производственном процессе, зачастую работают на угле, нефти или газе, а некоторые материалы, такие как пластмассы, производятся из химических веществ, получаемых из ископаемых видов топлива. Обрабатывающая промышленность является одним из крупнейших источников выбросов парниковых газов в мире.
        </details>
        <details>
            <summary>
                Вырубка лесов
            </summary>
                В результате вырубки лесов для создания ферм или пастбищ либо по иным причинам образуются выбросы, поскольку вырубаемые деревья высвобождают накопленный углерод. Ежегодно уничтожается около 12 млн гектаров леса. Поскольку леса поглощают углекислый газ, их уничтожение также ограничивает способность природы удерживать выбросы в атмосферу. Обезлесение наряду с сельским хозяйством и другими изменениями в землепользовании является причиной примерно четверти глобальных выбросов парниковых газов.
        </details>
        <details>
            <summary>
                Использование транспорта
            </summary>
                Большинство автомобилей, грузовиков, кораблей и самолетов работают на ископаемых видах топлива. Это делает транспорт одним из главных источников выбросов парниковых газов, особенно выбросов углекислого газа. Наибольшая их часть приходится на дорожные транспортные средства в связи со сжиганием продуктов нефтепереработки, таких как бензин, в двигателях внутреннего сгорания. При этом выбросы морских и воздушных судов продолжают расти. На транспорт приходится почти четверть глобальных выбросов углекислого газа, связанных с энергоснабжением. Существующие тенденции указывают на вероятность значительного увеличения энергопотребления в транспортном секторе в ближайшие годы.
        </details>
        </ul>
    </div>
    <div id="block3" class="solution">
        <p><b>Пути решения проблем глобального потепления</b><br>
        <ol>
            <li><b>Переход к возобновляемым источникам энергии.</b><br>Мы должны перейти от ископаемого топлива к устойчивым источникам энергии, чтобы сократить Выбросы парниковых газов. Ресурсы для зеленой энергетики, такие как ветер, солнце, гидроэнергетика и геотермальные технологии биотоплива, предоставляют более экологически чистые варианты производства электроэнергии. Вкладывая деньги в эти возобновляемые источники энергии и поддерживая их, мы можем значительно сократить выбросы углекислого газа и меньше влиять на окружающую среду.</li>
            <li><b>Энергоэффективность и энергосбережение</b><br>Внедрение устойчивых решений проблемы глобального потепления имеет важное значение для сдерживания его последствий. Энергоэффективность и сохранение природы играют жизненно важную роль в уменьшении глобального потепления. Энергоэффективные технологии и методы могут быть внедрены в зданиях, домах, на транспорте и в промышленности для сокращения потребления энергии и выбросов. Поощрение ответственного использования энергии на всех уровнях будет способствовать устойчивому и зеленому будущему.</li>
            <li><b>Облесение и лесовосстановление</b><br>Облесение и лесовосстановление являются важнейшими устойчивыми решениями для борьбы с глобальным потеплением. Леса действуют как естественные поглотители углерода, поглощая и сохраняя углекислый газ. Облесение, создание новых лесов и лесовосстановление, восстановление деградировавших лесов, могут значительно активизировать усилия по улавливанию углерода.</li>
            <li><b>Устойчивое сельское хозяйство и землепользование</b><br>Устойчивое сельское хозяйство является важным решением для сокращения выбросов парниковых газов. Сельскохозяйственный сектор вносит значительный вклад в глобальное потепление за счет вырубки лесов, выбросов метана от домашнего скота и синтетических удобрений. Устойчивые методы ведения сельского хозяйства, такие как агролесомелиорация, органическое земледелие и эффективное землепользование, могут сократить выбросы и улучшить здоровье почвы. </li>
            <li><b>Экономика замкнутого цикла и сокращение отходов</b><br>Круговая экономика практики играют решающую роль в устойчивых решениях проблемы глобального потепления. Экономика замкнутого цикла может радикально сократить выбросы парниковых газов, связанные с производством и утилизацией, за счет повторного использования ресурсов и минимизации отходов.</li>
            <li><b>Экологичный транспорт</b><br>Экологичный транспорт представляет собой устойчивое решение для сокращения выбросов парниковых газов. Транспортный сектор вносит значительный вклад в глобальное потепление из-за сильной зависимости от транспортных средств, работающих на ископаемом топливе. Инвестирование в инфраструктуру общественного транспорта, продвижение вариантов активного транспорта, таких как езда на велосипеде и ходьба, а также поощрение электротранспорта — все это важные шаги в снижении выбросов углекислого газа, связанных с транспортом.</li>
            <li><b>Экологическое строительство и городское планирование</b><br>Зеленое строительство и городское планирование являются жизненно важными устойчивыми решениями проблемы глобального потепления. Практика зеленого строительства и устойчивое городское планирование могут привести к созданию энергоэффективных зданий и городов. Акцент на экологичных строительных материалах, пассивном дизайне и интеграции возобновляемых источников энергии может значительно снизить потребление энергии. Хорошо спланированные города с улучшенным общественным транспортом и зелеными насаждениями способствуют созданию более устойчивой городской среды.</li>
            <li><b>Международное сотрудничество и политические обязательства</b><br>Международное сотрудничество имеет важное значение для эффективных и устойчивых решений проблемы глобального потепления. Международное сотрудничество и политические обязательства необходимы для решения коллективной проблемы глобального потепления. Страны должны сотрудничать, чтобы ставить амбициозные цели, обмениваться устойчивыми технологиями и оказывать финансовую поддержку развивающимся странам в их усилиях по борьбе с изменением климата. Международные соглашения, такие как Парижское соглашение, служат важнейшей основой для стимулирования глобальных действий по борьбе с изменением климата.</li>
            <li><b>Обеспечение экологической безопасности на предприятии</b><br>Первый шаг к обеспечению экологической безопасности на предприятии – экологический аудит. Он направлен на исследование объекта по ряду параметров. Проводится специальной лицензированной организацией по заказу самого предприятия или стороннего предприятия.</li>
        </ol>
        </p>
    </div>
    <div id="block4" class="check">
        <p><b>Давайте проведём свой экологический мини-аудит!</b></p>
        <a class="test" href="/start">тык</a>
    </div>
    <script>
        // let links = document.querySelectorAll('.scroll');
        // let targetID; //переменная, в которую запишем id целевого элемента
        // links.forEach(function (element) {
        //     element.addEventListener('click', function (event) {
        //         event.preventDefault(); //отключить стандартное поведение
        //         targetID = element.getAttribute('href'); //получить id целевого элемента из атрибута href ссылки
        //         document.querySelector(targetID).scrollIntoView({ //метод для управления прокруткой
        //             behavior: 'smooth', //анимация прокрутки auto - резко, smooth - плавно
        //             block: 'start' //вертикальное выравнивание
        //         })
        //     })
        // })

        window.onscroll = function() {myFunction()};
        
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;
        
        function myFunction() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
          } else {
            navbar.classList.remove("sticky");
          }
        }
    </script>
</main>
</body>
</html>