<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/style.css">
  <title>Экологичность промышленных предприятий</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Рассчитайте экологичность Вашего промышленного предприятия</h1>
      <p>Сделайте экологию лучше!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Выберите кол-во труб на предприятии:</h2>
    <ul class="list" id="list">
      <li class="list__item">
        <a href={{first + "/3" }}>
          <img class="item__img" src="../static/img/truba.jpg" alt="truba">
          <span>1-3 труб(ы)</span></a>
      </li>
      <li class="list__item">
        <a href={{first + "/6" }}> 
          <img class="item__img" src="../static/img/truba.jpg" alt="truba">
          <span>4-6 труб(ы)</span></a>
      </li>
      <li class="list__item">
        <a href={{first + "/7" }}>
          <img class="item__img" src="../static/img/truba.jpg" alt="truba">
          <span>7 и более</span></a>
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
